/**
 * The @Viewable class decorator automatically assigns the view-class-name-in-kebab-case
 * CSS class to instances of your View in the DOM
 */
.example-app
{
	display: block;
	font-family: Helvetica, Arial, sans-serif;
	padding: 16px;

	h1
	{
		font-weight: 400;
		padding: 0 0 12px;
		margin: 0 0 20px;
		border-bottom: 1px solid #CCC;
	}

	p, input
	{
		font-size: 14px;
	}

	input
	{
		padding: 4px;
	}
}
